<style type="text/css">

  #invalid_1 {
  	color:red;
	position:absolute;
  	top:370px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  #invalid_2 {
  	color:red;
	position:absolute;
  	top:444px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  #invalid_3 {
  	color:red;
	position:absolute;
  	top:518px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  #invalid_4 {
  	color:red;
	position:absolute;
  	top:591px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  #invalid_5 {
  	color:red;
	position:absolute;
  	top:666px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  #invalid_6 {
  	color:red;
	position:absolute;
  	top:740px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  #invalid_7 {
  	color:red;
	position:absolute;
  	top:810px;
	left:492px;
	font-size:12px;
	font-style:italic;
  }

  </style>